{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- hero -->
    <section class="lg:bg-white bg-[#AE4482]">
        <div class="container-custom h-5/6">
            <div class="flex h-full">
                <div data-aos-duration="1000" data-aos="zoom-in" class= "flex-1">
                    <div class="lg:bg-[#AE4482] p-10 mt-12">
                        <p class="text-4xl font-semibold">Résidence Gauchet</p>
                        <p class="text-xl text-white mt-8 p-3 border-l-4 ">
                            Bienvenue à la Résidence Gauchet située dans la ville de Yaoundé à 20 minutes de l'aéroport de Nsimalen
                            et du centre ville. Vous y trouverez des appartements de haut standing dans un cadre sécurisé et d'un calme 
                            sans pareil.
                        </p>
                    </div>
                </div>
                <div data-aos-duration="1000" data-aos="zoom-in" class="flex-1 hidden lg:block">
                    <div class="">
                        <img class="w-full object-cover aspect-square" src={{asset("images/residence/11.jpeg")}} alt="building">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- rooms -->
    <section>
        <div class="container-custom">
            <div class="flex md:space-y-0 space-y-5 flex-col md:flex-row md:justify-between items-center mb-5">
                <h3 class="" data-aos-duration="1000" data-aos="fade-right">Appartements</h3>
                <a href={{path('app_appartements')}} data-aos-duration="1000" data-aos="fade-left" class="bg-[#AE4482] text-center text-white px-2 py-4 font-semibold rounded cursor-pointer increase-hover">
                    Voir tous les appartements
                </a>
            </div>
            <div class="">
                <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
                    <!-- room cards -->
                    {% for room in rooms %}
                    <div data-aos-duration={% if loop.index0 %}"1000"{% else %}"500"{% endif %} data-aos="fade-up" class="flex-1 shadow">
                        <div class="relative">
                            {% for image in room.images %}
                                {% if loop.first %}
                                    <img class="w-full aspect-video rounded-t-md object-cover" src={{asset(image.link)}} alt="">
                                {% endif %}
                            {% endfor %}
                            <span class="absolute floating-info">
                                <span class="text-xl font-semibold">{{room.price}} XAF</span> / 1 nuit
                            </span>
                        </div>
                        <!-- card body -->
                        <div class="p-6 space-y-3">
                            <p class="text-xl font-semibold text-blue-900"><a href={{path('app_appartements_detail',{id: room.id})}}>{{room.name}}</a></p>
                            <div class="flex text-xl space-x-4 font-light text-gray-600">
                                <div class="text-sm">
                                    <span><i class="fa-solid fa-ruler-combined"></i></span>
                                    <span>{{room.surface}} m²</span>
                                </div>
                                <div class="text-sm">
                                    <span><i class=" fa-solid fa-user"></i></span>
                                    <span>{{room.capacity}} personnes</span>
                                </div>
                                <div class="text-sm">
                                    <span><i class="fa-regular fa-eye"></i></span>
                                    <span>{{room.visitors | length }}</span>
                                </div>
                            </div>
                            <p><a href={{path('app_appartements_detail',{id: room.id})}} class="">Voir plus</a></p>
                        </div>
                    </div>
                    {% endfor %}
                    {# <div data-aos-delay="500" data-aos-duration="1000" data-aos="fade-up" class="flex-1 shadow">
                        <div class="relative">
                            <img class="w-full aspect-video rounded-t-md" src={{asset("/images/3.jpeg")}} alt="">
                            <span class="absolute floating-info">
                                <span class="text-xl font-semibold">$10</span> / 1 nuit
                            </span>
                        </div>
                        <!-- card body -->
                        <div class="p-6 space-y-3">
                            <p class="text-xl font-semibold">Bed in 6-Bed Room with Shared Bathroom</p>
                            <div class="flex space-x-4 font-light text-gray-600 text-sm">
                                <div>
                                    <span><i class="fa-solid fa-users"></i></span>
                                    <span>3 Spleeps</span>
                                </div>
                                <div>
                                    <span><i class="fa-solid fa-ruler-combined"></i></span>
                                    <span>256 m²</span>
                                </div>
                            </div>
                            <p ><a href="" class="text-[#71093b]" >Voir plus <i class="fa-solid fa-arrow-right"></i> </a></p>
                        </div>
                    </div> #}
                    <div data-aos-delay="300" data-aos-duration="1000" data-aos="fade-up" class="flex-1">
                        <div class="p-6 rounded-md bg-blue-900 text-white">
                            <h3 class="text-2xl text-white">Restez plus longtemps, économisez d'avantage</h3>
                            <!-- card body -->
                            <div class="space-y-3 mt-3 pl-3 border-l-4">
                                <p>Économisez jusqu'à 15% pour les séjours de plus de 4 semaines</p>
                            </div>
                            <a  href={{path('app_appartements')}}  class="mt-5 bg-blue-50 text-blue-900 text-center py-3 font-semibold rounded-md cursor-pointer increase-hover block">
                                <span>Voir les appartements</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services -->
    <section>
        <div class="container-custom">
            <div data-aos-duration="1000" data-aos="fade-right" class="lg:flex items-center ld:space-x-10">
                <div class="flex-1">
                    <h3 data-aos-duration="1000" data-aos="fade-up" class="text-4xl">Nous avons tout ce dont vous avez besoin</h3>
                    <p data-aos-duration="1000" data-aos="fade-up" class="text-gray-600 text-xl my-3">
                        Nous vous proposons un service de qualité pour vous permettre de passer un séjour convivial 
                    </p>
                    <div class="grid grid-cols-2 gap-5 p-3">
                        <!-- services -->
                        <div data-aos-duration="1000" data-aos="fade-down" class="flex space-x-3 items-center">
                            <span><i class="text-4xl fa-solid fa-wifi"></i></span>
                            <p class="text">Free wifi available</p>
                        </div>
                        <div data-aos-duration="1000" data-aos="fade-down" class="flex space-x-3 items-center">
                            <span><i class="text-5xl fa-solid fa-square-parking"></i></span>
                            <p class="text">Grand Parking</p>
                        </div>
                        <div data-aos-duration="1000" data-aos="fade-up" class="flex space-x-3 items-center">
                            <span><i class="text-5xl fa-solid fa-video"></i></span>
                            <p class="text">Caméras de surveillance</p>
                        </div>
                        <div data-aos-duration="1000" data-aos="fade-up" class="flex space-x-3 items-center">
                            <span><i class="text-5xl fa-solid fa-users"></i></span>
                            <p class="text">Personnel diponible</p>
                        </div>
                    </div>
                </div>
                <div data-aos-duration="1000" data-aos="zoom-in-left" class="flex-1">
                    <img src={{asset("images/appartements/IMG_2855.jpg")}} class="w-full rounded-lg aspect-video lg:aspect-square" alt="">
                </div>
            </div>
        </div>
    </section>
    {# reservation #}
    {{include('home/parts/_reservation.html.twig')}}
    <!-- gallery -->
    <section class="py-16">
        <div class="container-custom">
            <div class="flex justify-between items-center py-5">
                <h3 data-aos-duration="1000" data-aos="fade-right" class="mb-5">Photo de la résidence</h3>
                <a href={{path('app_gallerie')}} data-aos-duration="1000" data-aos="fade-up" class="bg-[#AE4482] text-center text-white px-2 py-4 font-semibold rounded cursor-pointer increase-hover">
                    Voir les photos
                </a>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                <div data-aos-duration="1000" data-aos="zoom-in" class="">
                    <img class="increase-hover w-full rounded-lg aspect-square" src={{asset("/images/1.jpg")}} alt="">
                </div>
                <div data-aos-duration="1000" data-aos="zoom-in" class="">
                    <img class="increase-hover w-full rounded-lg aspect-square" src={{asset("images/residence/1.jpeg")}} alt="">
                </div>
                <div data-aos-duration="1000" data-aos="zoom-in" class="">
                    <img class="increase-hover w-full rounded-lg aspect-square" src={{asset("images/residence/4.jpeg")}} alt="">
                </div>
                <div data-aos-duration="1000" data-aos="zoom-in" class="">
                    <img class="increase-hover w-full rounded-lg aspect-square" src={{asset("images/residence/5.jpeg")}} alt="">
                </div>
            </div>
        </div>
    </section>
    {# blog post #}
    {{include('home/parts/_blog_post.html.twig', {posts})}}
    <!-- contact -->
    {{include('home/parts/_contact.html.twig')}}
{% endblock %}
