<!-- blog -->
    <section class="bg-blue-50 py-16">
        <div class="container-custom">
            <div class="flex md:space-y-0 space-y-5 flex-col md:flex-row md:justify-between items-center mb-5">
                <h3 data-aos-duration="1000" data-aos="fade-right">Blog</h3>
                <div data-aos-duration="1000" data-aos="fade-left"
                    class="bg-blue-100 text-center text-blue-900 px-2 py-4 font-semibold rounded cursor-pointer increase-hover">
                    <a href={{path('app_blog')}} class="">
                        Voir tous les articles
                    </a>
                </div>
            </div>
            <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
                <!-- bews card -->
                {% for post in posts %}
                <div data-aos-delay={% if loop.first %}"0"{% elseif loop.last %}"1000"{% else %}"500"{% endif %} data-aos-duration="1000" data-aos="fade-up" class="shadow">
                    <div class="relative">
                        <img class="w-full aspect-video rounded-t-md" src={{asset(post.image)}} alt="">
                        {% for category in post.categories %}
                            {% if loop.first %}
                                <span class="absolute floating-category">{{category.name}}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="p-6 space-y-3 bg-white">
                        <p class="text-2xl font-semibold text-blue-900"><a href="">{{post.title}}</a></p>
                        <p class="text-sm font-light text-gray-600">Ultrices gravida dictum fusce ut placer orci nulla pellentesque. Senect et netus et malesuada</p>
                        <div class="flex space-x-5 text-sm text-gray-600">
                            <div>
                                <span><i class="fa-regular fa-clock"></i></span>
                                <span>{{post.createdAt | date('d M y')}}</span>
                            </div>
                            <div>
                                <span><i class="fa-regular fa-eye"></i></span>
                                <span>{{post.visitors | length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>