{% extends 'admin.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <section>
        <div class="w-11/12 mx-auto">
          <div class="">
            <h3>{{room.name}}</h3>
            <div class="">
              <div class="grid grid-cols-2 md:grid-cols-4 gap-5">
                {% for image in room.images %}
                    <img class="w-full aspect-video rounded-md" src={{image.link}} alt="" />
                {% endfor %}
              </div>
              <div class="md:flex md:space-x-5">
                <ul class="space-y-3 mt-3 flex-1">
                    <li class="bg-gray-200 p-2">
                        <span class="font-medium">Nom</span>: {{room.name}}
                    </li>
                    <li  class="px-2">
                        <span class="font-medium">Prix</span>: {{room.price}} € / nuit
                    </li>
                    <li class="bg-gray-200 p-2">
                        <span class="font-medium">Capacité</span>: {{room.capacity}} personnes
                    </li>
                    <li class="px-2">
                        <span class="font-medium">Surface</span>: {{room.surface}} m²
                    </li>
                    <li class="bg-gray-200 p-2">
                        <span class="font-medium">Type</span>: {{room.type}}
                    </li>
                    <li class="px-2">
                        <span class="font-medium">Vues</span>: {{room.visitors | length }}
                    </li>
                    <li class="bg-gray-200 p-2">
                        <span class="font-medium">Description</span>
                        <p class="font-light">
                            {{room.description }}
                        </p>
                    </li>
                </ul>
                <div class="p-3 flex-1">
                    <h4>Actions</h4>
                    <div class="flex space-x-5 items-center">
                        <a href="{{ path('app_room_index') }}" class="transform hover:text-purple-500 hover:scale-110"><i class="fa-solid fa-arrow-left-long"></i></a>
                        <a href={{ path('app_room_edit', {id: room.id})}} class="w-4 h-4 transform hover:text-purple-500 inline-block hover:scale-110">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg>
                        </a>  
                        {{ include('room/_delete_form.html.twig') }}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
